input.cssButtonLong_dl{
  color:000000;
  font-size: 12pt;
  background: url(phoneBar/denglu.gif);
  width:56px;
  height:20px;
  border:0px;
}

input.cssButtonLong_dc{
  color:000000;
  font-size: 12pt;
  background: url(phoneBar/dengchu.gif);
  width:56px;
  height:20px;
  border:0px;
}


input.cssButtonLong_jx{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/jiuxu.gif);
  width:56px;
  height:20px;
  border:0px;
}


input.cssButtonLong_wjx{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/jiuxu.gif);
  width:66px;
  height:20px;
  border:0px;
}


input.cssButtonLong_wb{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/waibo.gif);
  width:56px;
  height:20px;
  border:0px;
}

input.cssButtonLong_zj{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/zhaiji.gif);
  width:56px;
  height:20px;
  border:0px;
}

input.cssButtonLong_gj{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/guaji.gif);
  width:56px;
  height:20px;
  border:0px;
}


input.cssButtonLong_zhj{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/zhuanjie.gif);
  width:56px;
  height:20px;
  border:0px;
}

input.cssButtonLong_zhzx{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/zhuanzuoxi.gif);
  width:66px;
  height:20px;
  border:0px;
}

input.cssButtonLong_hy{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/huiyi.gif);
  width:56px;
  height:20px;
  border:0px;
}

input.cssButtonLong_bc{
 color:000000;
  font-size: 12pt;
  background: url(phoneBar/baochi.gif);
  width:56px;
  height:20px;
  border:0px;
}


input.zt0{
  font-size: 9pt;
  background: url(phoneBar/zt0.png);
  width:16px;
  height:16px;
  border:0px;
  color:000000;  
}
input.zt1{
  font-size: 9pt;
  background: url(phoneBar/zt1.png);
  width:16px;
  height:16px;
  border:0px;
  color:000000; 
}
input.zt2{
  font-size: 9pt;
  background: url(phoneBar/zt2.png);
  width:16px;
  height:16px;
  border:0px;
  color:000000; 
}
input.zt3{
  font-size: 9pt;
  background: url(phoneBar/zt3.png);
  width:16px;
  height:16px;
  border:0px;
  color:000000;  
}





