.c_logo_text{
	position:absolute;
	background: url(logo_text.png) no-repeat;
	top:0;
	margin-top:0px;
	left:120px;
	width:430px;
	height:65px;
}
.c_logo{
	position:absolute;
	background: url(logo.png) no-repeat;
	top:10px;
	margin-top:0px;
	left:30px;
	width:430px;
	height:65px;
}
.c_main_top{
	position: absolute;
	background: url(topbg.jpg);
	padding:0px;
	top:0;
	left:0;
	width: 100%;
	height:80px;
	float:left;
	z-index:-1;
}
.topTitleRight{
	position:absolute;
	width: 200px;
	height: 30px;
	right:0px;
	top:5px;
	font: 12px "宋体";
	color: #004074;
}